<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopihh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home.Content.Arena_Of_ValorActivity"></activity>
        <activity android:name=".Home.Content.PubgActivity" />
        <activity android:name=".Home.Content.Mobile_LegendsActivity" />
        <activity android:name=".Home.Content.Lords_MobileActivity" />
        <activity android:name=".Home.Content.League_Of_LegendsActivity" />
        <activity android:name=".Home.Content.Free_FireActivity" />
        <activity android:name=".Home.Content.Dragon_RajaActivity" />
        <activity
            android:name=".Home.Content.Content_Activity"
            android:screenOrientation="portrait" /> <!-- screenOrientationn="potrait" menyeting screen agar hanya bisa potrait -->
        <activity
            android:name=".Login.ForgotPaswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.PengaturanAccount.PengaturanAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.InfoAcount.infoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>